<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
<meta charset="UTF-8" />
<title>Notas e Faltas Aluno</title>

</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<a href="/aluno" class="btn btn-primary">Volta</a>
			<h1>Minhas Notas</h1>

			<!-- row faltas 
			<div class="row">
				<div class="col-sm">
					<h2>
						Faltas
				</h1>
				</div>
				<div class="col-sm">
					<div class="center">
						<h2>18%</h2>
					</div>
					<div class="center">
						<h5>9/50 aulas</h5>
					</div>
				</div>
			</div>-->
			<!-- row notas-->
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Disciplina</th>
							<th scope="col">Notas</th>
<!--  						<th scope="col">Segunda Nota</th>
							<th scope="col">Terceira Nota</th>
							<th scope="col">Quarta Nota</th>-->	
							
						</tr>
					</thead>
					<tbody>
						 	<tr th:each="alunos : ${alunos}">
                                        <td th:text="${alunos.disciplina.nome}"></td>
                                        <td th:text="${alunos.nota}"></td> 
  <!--                                  <td th:text="${alunos.nota}"></td> 
                                        <td th:text="${alunos.nota}"></td> 
                                        <td th:text="${alunos.nota}"></td>     -->    
                            </tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>
